{% extends 'schedule/base/base_cms.html' %}
{% block title %}Фінанси{% endblock %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h2>Оплата викладачам</h2>
        <p>Розрахунок оплати по к-сті індивідальних і групових занять</p>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="card card-body">
            {% include 'schedule/finance/filter.html' with form=filter_form %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <table class="table table-bordered table-hover table-sm">
            <thead style="background-color: #343a40;">
                <th style="color: #eeeeee">Викладач</th>
                <th style="color: #eeeeee">Предмет</th>
                <th style="color: #eeeeee">К-сть занять індивідуальних</th>
                <th style="color: #eeeeee">Оплата за заняття індивідуальне</th>
                <th style="color: #eeeeee">К-сть занять групових</th>
                <th style="color: #eeeeee">Оплата за заняття групове</th>
                <th style="color: #eeeeee">Сумма до сплати</th>
            </thead>
            <tbody>
                {% for record in teachers_month_statistics %}
                    <tr style="background-color: #cccccc">
                        <td style="font-family: 'Open Sans', sans-serif">{{record.teacher.full_name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for subject_stat in record.subjects_stat %}
                        <tr style='text-align: center;'>
                            <td>-----------></td>
                            <td>{{ subject_stat.subject.name }}</td>
                            <td>{{ subject_stat.individual_count }}</td>
                            <td>
                                <input type="number"
                                       min="0"
                                       value="0"
                                       id="individual_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       data-sum-location-id="sum_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       class="form-control form-control-sm"
                                       data-lessons-count="{{ subject_stat.individual_count }}"
                                       data-friend-id="group_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       style="text-align: center"
                                       title="грн"
                                       onchange="countMoney(this)">
                            </td>
                            <td>{{ subject_stat.group_count }}</td>
                            <td>
                                <input type="number"
                                       min="0"
                                       value="0"
                                       id="group_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       data-sum-location-id="sum_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       class="form-control form-control-sm"
                                       data-lessons-count="{{ subject_stat.group_count }}"
                                       data-friend-id="individual_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       style="text-align: center"
                                       title="грн"
                                       onchange="countMoney(this)">
                            </td>
                            <td>
                                <input type="number"
                                       readonly
                                       min="0"
                                       value="0"
                                       id="sum_{{record.teacher.id}}_{{subject_stat.subject.id}}"
                                       class="form-control form-control-sm"
                                       title="грн"
                                       style="text-align: center">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function countMoney(elem) {
        let sum_location = document.getElementById(elem.getAttribute('data-sum-location-id'));
        let friend_data = document.getElementById(elem.getAttribute('data-friend-id'));
        let my_sum = elem.getAttribute('data-lessons-count') * elem.value;
        let friend_sum = friend_data.getAttribute('data-lessons-count') * friend_data.value;
        sum_location.setAttribute('value', my_sum + friend_sum);
    }
</script>

{% endblock %}