{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'schedule/lessons.css' %}">
{% endblock %}
{% block body %}
    <div class="row text-center" style="background-color: lightgrey">
        <div>
            <h3>Графік заходів</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <a class="btn btn-secondary btn-sm form-control" role="button" href="{% url 'add_class_room' %}">
                    + Додати аудиторію
                </a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div class="row">
                <a class="btn btn-secondary btn-sm form-control" role="button" href="{% url 'add_event' %}">
                    + Додати захід
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <form class="form-inline" method="GET" action="{% url 'events' %}">
            {{ form }}
            <br /><span>&nbsp;&nbsp;&nbsp;</span>
            <input type="submit" class="btn btn-secondary" value="Показати">
        </form>
    </div>
    <br />
    {% if total_schedule %}
        <div class="row">
            <p>Розклад заходів з {{ events_date_from }} по {{ events_date_to }} для {{ selected_class_room_name }}</p>
        </div>
        <div class="row">
            {% for day_name, data, date in total_schedule %}
            <div class="divTable">
                <div class="headRow">
                    <div class="headCell" align="center">
                        <p>{{ day_name }}<br />{{ date }}</p>
                    </div>
                </div>
                {% for event in data %}
                <div class="divRow">
                    <div class="divCell">
                        <div id="accordion-{{event.id}}">
                            <div class="card">
                                <div class="card-header">
                                    <div class="container-fluid">
                                        <div class="row">
                                          <a class="card-link" data-toggle="collapse" href="#collapse-{{event.id}}" aria-expanded="false">
                                              {{ event.name }}<br />
                                          </a>
                                        </div>
                                        <div class="row">
                                            <span>{{ event.format_t_start}} - {{ event.format_t_end}}</span>
                                        </div>
                                        <div class="row">
                                            <a class="btn btn-outline-dark btn-sm form-control" role="button" href="{% url 'edit_event' event.id %}" target="_blank">
                                                Редагувати
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse-{{event.id}}" class="collapse" data-parent="#accordion-{{event.id}}">
                                  <div class="card-body">
                                      <div class="container-fluid">
                                          <div class="row">
                                              <p>
                                                  {{ event.class_room }}<br />
                                                  К-сть учасників - {{ event.participants_count}}
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}