{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
{% endblock %}
{% block body %}
    <div class="row text-center" style="background-color: lightgrey">
        <div class="col">
            <h3>
                Групи
            </h3>
        </div>
    </div>
    <br >
    <div class="row">
        <div class="col-2">
            <div>
                <a class="btn btn-secondary btn-sm form-control" role="button" href="/admin/schedule/group/add/">
                    + Додати групу
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <p>Вкажіть групу для пошуку</p>
            <input class="form-control" id="id_group_name" type="text" placeholder="Пошук..">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <th>Назва групи</th>
                    <th>Кількість учнів</th>
                    <th>Предмет</th>
                    <th>Викладач</th>
                    <th>Поточне заняття</th>
                    <th>Наступне заняття</th>
                </thead>
                <tbody id="group_table">
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>{{ group.students_count }}</td>
                            <td>
                                {% if group.subject %}
                                    {{ group.subject }}
                                {% else %}
                                    ----
                                {% endif %}
                            </td>
                            <td>
                                {% if group.teacher %}
                                    {{ group.teacher }}
                                {% else %}
                                    ----
                                {% endif %}
                            </td>
                            <td>
                                {% if group.current_lessons %}
                                    <a href="{% url 'lessons_action' 'view' group.current_lessons.id %}">
                                        {{ group.current_lessons }}
                                    </a>
                                {% else %}
                                    ----(
                                    <a href="{% url 'add_lessons' %}">
                                        Додати заняття
                                    </a>
                                    )
                                {% endif %}
                            </td>
                            <td>
                                {% if group.next_lessons %}
                                    <a href="{% url 'lessons_action' 'view' group.next_lessons.id %}">
                                        {{ group.next_lessons }}
                                    </a>
                                {% else %}
                                    ----(
                                    <a href="{% url 'add_lessons' %}">
                                        Додати заняття
                                    </a>
                                    )
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#id_group_name").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#group_table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}