<div class="form-group">
    <div class="add_form name">
        <label for="id_name">Назва</label>
        {{form.name}}
    </div>
    <div class="row add_form">
        <div class="col">
            <div class="subject">
                <label for="id_subject">Предмет</label>
                {{form.subject}}
            </div>
        </div>
        <div class="col">
            <div class="add_form age_from">
                <label for="id_age_from">Вік з:</label>
                {{form.age_from}}
            </div>
        </div>
    </div>
    <div class="add_form teacher">
        <label for="id_teacher">Викладач</label>
        {{form.teacher}}
    </div>
    <div class="add_form students">
        <label for="id_students">Учні</label>
        {{form.students}}
    </div>
</div>