{% extends 'schedule/base/base_cms.html' %}
{% block title %}Сторінка групи{% endblock %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/group/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/group/view.css' %}">
{% endblock %}
{% block body %}
    <br />
    <div class="row">
        <div class="col">
            <h5>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#add">
                    <span class="fas fa-edit"></span>
                </button>
                Редагувати групу <strong>{{ group.name }}</strong>
            </h5>
        </div>
        <div class="col">
            <h5>
                <button class="btn btn-outline-warning" data-toggle="modal" data-target="#delete">
                    <span class="fas fa-archive"></span>
                </button>
                Видалити групу
            </h5>
            <div class="modal" id="delete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Видалити групу</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            Ви впевнені що хочете видалити групу <strong>{{group.name}}</strong>?
                            <p>
                                Усі заплановані заняття будуть видалені.
                            </p>
                            <p>Заняття які відбулись не будуть видалені</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST" action="{% url 'group_delete' group.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="add" class="collapse">
                <div class="row">
                    <div class="col add">
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% include 'schedule/groups/group_form.html' with form=form %}
                            <button type="submit" class="btn btn-success">Зберегти</button>
                        </form>
                    </div>
                    <div class="col add">
                        <h6>Поточні дані</h6>
                        <p>Назва: <strong>{{group.name}}</strong></p>
                        <p>Вік з: <strong>{{group.age_from}}+</strong></p>
                        <p>Викладач: <strong>{{group.teacher}} </strong>(якщо None - не вказано)</p>
                        <p>Предмет: <strong>{{group.subject}} </strong>(якщо None - не вказано)</p>
                        <p>Учні перераховані в таблиці нижче</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr />
    <div class="row">
        <div class="col search">
            <label for="id_student_name">Пошук по групі</label>
            <input class="form-control" id="id_student_name" type="text" placeholder="Пошук..">
            <br>
        </div>
        <div class="col period_form">
            <form method="GET">
                <label for="period">Місяць</label>
                <select class="form-control" id="period" name="period" onchange="this.form.submit()">
                    <option selected></option>
                    {% for period in periods %}
                        {% if selected_period == period %}
                            <option selected value="{{period}}">{{period}}</option>
                        {% else %}
                            <option value="{{period}}">{{period}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-striped table-sm students_table">
                <thead>
                    <th>Прізвище Ім'я</th>
                    <th>Вік</th>
                    <th>Виставлених рахунків</th>
                    <th>Оплачених рахунків</th>
                    <th>Занять оплачено</th>
                    <th>Занять відвідано</th>
                    <th>Рахунки</th>
                    <th>#</th>
                </thead>
                <tbody id="students_table">
                    {% for student in group_data.next_student %}
                        <tr>
                            <td style="vertical-align: middle">
                                {{ student.full_name }}
                            </td>
                            <td style="vertical-align: middle">
                                {% if student.years_old %}
                                    {{ student.years_old }}
                                {% else %}
                                    ----
                                {% endif %}
                            </td>
                            <td style="vertical-align: middle">{{ student.total_groups_services }}</td>
                            <td style="vertical-align: middle">{{ student.paid_groups_services }}</td>
                            <td style="vertical-align: middle">{{ student.group_lessons_paid }}</td>
                            <td style="vertical-align: middle">{{ student.group_lessons_present }}</td>
                            <td>
                                <div class="form-inline">
                                    <div style="float:left;margin-right:20px;">
                                        <button class="btn btn-info"
                                                onclick="changeLocation(this)"
                                                data-url="{% url 'invoices' %}?students={{student.id}}&service_types={{group.SERVICE_TYPE}}&subjects={{group.subject.id}}"
                                                title="Рахунки учня"
                                        >
                                            <span class="fas fa-receipt"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div style="float:left;margin-right:20px;">
                                        <button class="btn btn-warning"
                                                data-toggle="modal"
                                                data-target="#delete_student_{{student.id}}"
                                                title="Відкріпити учня"
                                        >
                                            <span class="fas fa-unlink"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="modal" id="delete_student_{{student.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Відкріпити учня</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                Ви впевнені що хочете відкрипити учня <strong>{{student.full_name}}</strong>?
                                            </div>
                                            <div class="modal-footer">
                                                <form method="POST" action="{% url 'group_unpin_student' group.id %}">
                                                    {% csrf_token %}
                                                    <input hidden name="student" value="{{student.id}}">
                                                    <button type="submit" class="btn btn-warning">Відкріпити</button>
                                                </form>
                                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#id_student_name").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#students_table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        let span = document.getElementById('spanTime');

        function time() {
            let d = new Date();
            let s = d.getSeconds();
            let m = d.getMinutes();
            let h = d.getHours();
            span.textContent = ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }

        setInterval(time, 1000);

        function changeLocation(elem) {
            window.open(elem.getAttribute('data-url'));
        }
    </script>

{% endblock %}