{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'schedule/lessons.css' %}">
{% endblock %}
{% block body %}
    <div class="row text-center" style="background-color: lightgrey">
        <div>
            <h3>
            {% if create_lessons %}
                Створити заняття
            {% elif edit_lessons %}
                Редагувати заняття
            {% elif view_lessons %}
                Перегляд заняття
            {% elif delete_lessons %}
                Видалити заняття
            {% endif %}
            </h3>
        </div>
    </div>
    <br />
    {% if not_found %}
        <div class="alert alert-warning">
              <strong>Заняття {{ not_found }} не знайдено</strong>
            </div>
    {% else %}
        {% if new_lessons and create_lessons %}
            <div class="alert alert-success">
              <strong>Успіх!</strong> Створено {{ new_lessons }} нові(-их) заняття(-ть)
            </div>
        {% elif edited_lessons and edit_lessons %}
            <div class="alert alert-success">
              <strong>Успіх!</strong> Заняття успішно відредаговано
            </div>
        {% endif %}
        <div class="container-fluid">
            {% include 'schedule/lessons/form.html' %}
        </div>
    {% endif %}
{% endblock %}