<button type="button" class="btn btn-primary" data-toggle="modal" data-target="modal{{ lessons.id }}">
  {{ lessons.subject.name }}/{{ lessons.get_lessons_type_name }}
</button>

<!-- The Modal -->
<div class="modal fade" id="modal{{ lessons.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
            {% if show_date %}
                {{ lessons.date|date:"d.m.Y" }}&nbsp;
            {% endif %}
            {{ lessons.format_t_start}}-{{ lessons.format_t_end }}
        </div>
        <div class="row">
            {% include 'schedule/lessons/card-header.html' with lessons=lessons %}
        </div>
        <div class="row">
            {{ lessons.teacher }}<br>
            {% if lessons.condition_individual %}
                Учень: {{ lessons.student }}
            {% else %}
                Група: {{ lessons.group }}<br>
                Пристуність: {{ lessons.presence_count }}/{{ lessons.students_count }}
            {% endif %}
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>