{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/lessons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/lessons/timetable.css' %}">
{% endblock %}
{% block body %}
    <script type="text/javascript">
        function goToUrl(elem) {
            location.href = elem.getAttribute('data-url');
        }
    </script>
    <div class="row text-center" style="background-color: lightgrey">
        <div>
            <h3>
                Графік занять по
                {% if show_type == 'day' %}
                    днях
                {% elif show_type == 'classroom' %}
                    аудиторіях
                {% elif show_type == 'teachers' %}
                    викладачах
                {% else %}
                    фільтру
                {% endif %}
            </h3>
        </div>
    </div>
    <br />
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-warning">
                <strong>Увага!</strong> {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-2">
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle  form-control" data-toggle="dropdown">
                    Показати по
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'lessons' 'day' %}">днях</a>
                    <a class="dropdown-item" href="{% url 'lessons' 'classroom' %}">аудиоріях</a>
                    <a class="dropdown-item" href="{% url 'lessons' 'filter' %}">фільтр</a>
                    <a class="dropdown-item" href="{% url 'lessons' 'teachers' %}">викладачах</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <a class="btn btn-secondary btn-sm form-control" role="button" href="{% url 'add_lessons' %}">
                    + Додати заняття
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            {% if show_type == 'classroom' and form %}
                <form class="form-inline" method="GET" action="{% url 'lessons' 'classroom' %}">
                    {{ form }}
                    <br /><span>&nbsp;&nbsp;&nbsp;</span>
                    <input type="submit" class="btn btn-secondary" value="Показати">
                </form>
            {% elif show_type == 'day' and form %}
                <form class="form-inline" method="GET" action="{% url 'lessons' 'day' %}">
                    {{ form }}
                    <br /><span>&nbsp;&nbsp;&nbsp;</span>
                    <input type="submit" class="btn btn-secondary" value="Показати">
                </form>
            {% elif show_type == 'filter' and form %}
               {% include 'schedule/lessons/filter_form.html' with form=form %}
            {% elif show_type == 'teachers' and form %}
                <form class="form-inline" method="GET" action="{% url 'lessons' 'teachers' %}">
                    <button type="button"
                        class="btn btn-warning"
                        data-url="{% url 'lessons' 'teachers' %}?date={{yesterday_date|date:'d.m.Y'}}"
                        onclick="goToUrl(this)"
                    >Вчора
                    </button><span>&nbsp;&nbsp;&nbsp;</span>
                    <button type="button"
                            class="btn btn-primary"
                            data-url="{% url 'lessons' 'teachers' %}?date={{today_date|date:'d.m.Y'}}"
                            onclick="goToUrl(this)"
                    >Сьогодні
                    </button><span>&nbsp;&nbsp;&nbsp;</span>
                    <button type="button"
                            class="btn btn-info"
                            data-url="{% url 'lessons' 'teachers' %}?date={{tomorrow_date|date:'d.m.Y'}}"
                            onclick="goToUrl(this)"
                    >Завтра
                    </button><span>&nbsp;&nbsp;&nbsp;</span>
                    <label for="id_date">Дата:&nbsp;</label>
                    {{ form.date }}<span>&nbsp;&nbsp;&nbsp;</span>
                    <input type="submit" class="btn btn-secondary" value="Показати"><br>
                </form>
<!--                <button type="button"-->
<!--                        class="btn btn-secondary"-->
<!--                        data-url="{% url 'lessons' 'teachers' %}?date={{yesterday_date|date:'d.m.Y'}}"-->
<!--                        onclick="goToUrl(this)"-->
<!--                >Вчора-->
<!--                </button>-->
<!--                <button type="button"-->
<!--                        class="btn btn-secondary"-->
<!--                        data-url="{% url 'lessons' 'teachers' %}?date={{today_date|date:'d.m.Y'}}"-->
<!--                        onclick="goToUrl(this)"-->
<!--                >Сьогодні-->
<!--                </button>-->
<!--                <button type="button"-->
<!--                        class="btn btn-secondary"-->
<!--                        data-url="{% url 'lessons' 'teachers' %}?date={{tomorrow_date|date:'d.m.Y'}}"-->
<!--                        onclick="goToUrl(this)"-->
<!--                >Завтра-->
<!--                </button>-->
            {% endif %}
        </div>
    </div>
    <br />
    {% if show_type == 'classroom' and total_schedule %}
        <div class="row">
            <div class="col">
                <p>Розклад занять з {{ lessons_date_from }} по {{ lessons_date_to }} для {{ selected_classroom }}</p>
            </div>
        </div>
        <div class="row">
            {% for day_name, data, date in total_schedule %}
            <div class="divTable">
                <div class="headRow">
                    <div class="headCell" align="center">
                        <p>{{ day_name }}<br />{{ date }}</p>
                    </div>
                </div>
                {% for lessons in data %}
                <div class="divRow">
                    <div class="divCell">
                        {% include 'schedule/lessons/div_cell.html' with show_name=show_type lessons=lessons %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if show_type == 'day' and total_schedule %}
    <div class="row">
        <div class="col">
            <p>Розклад занять на {{ lessons_date_from }}</p>
        </div>
    </div>
        {% for classroom, data in total_schedule %}
        <div class="row">
            <div class="divRow">
                <div class="horizontalHeadCell">
                    <b>{{ classroom }}</b>
                </div>
                {% for lessons in data %}
                <div class="divCell">
                    {% include 'schedule/lessons/div_cell.html' with show_name=show_type lessons=lessons %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% if show_type == 'filter' %}
        {% if total_schedule %}
            {% for date, date_str, data in total_schedule %}
            <div class="row">
                <div class="col">
                    <div id='accordion-{{ date.day }}'>
                        <div class="card">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row" style="background-color: #ffefef">
                                      <a class="card-link"
                                         data-toggle="collapse"
                                         href="#collapse-{{ date.day }}"
                                         aria-expanded="false"
                                      >
                                          <span><strong>{{ date_str }} {{ date|date:"d.m.Y" }}</strong></span>
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <div id='collapse-{{ date.day }}' class="collapse show" data-parent='#accordion-{{ date.day }}'>
                                <div class="card-body">
                                {% for classroom, lessons_info in data %}
                                    <div class="row">
                                        <div class="col-1" style="min-width: 15vh">
                                            <b>{{ classroom.name }}</b>
                                        </div>
                                        {% for lessons in lessons_info %}
                                            <div class="horizontalHeadCell">
                                                {% include 'schedule/lessons/div_cell.html' with show_name=show_type lessons=lessons %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            {% endfor %}
        {% else %}
            <div class="row">
                <p>Занять немає</p>
            </div>
        {% endif %}
    {% endif %}
    {% if show_type == 'teachers' %}
        {% include 'schedule/lessons/timetable.html' with time_periods=time_periods total_schedule=total_schedule %}
    {% endif %}
{% endblock %}