{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/lessons/show_type_teachers.css' %}">
{% endblock %}


<div class="container" style="background-color: lightgrey">
    <div class="row">
        <div class="col-1">
            <div class="row">
                <div>
                    <button type="button" class="btn btn-light" disabled>Години</button>
                </div>
                <div class="list-group">
                    {% for time in time_periods %}
                        <li class="list-group-item" data-time-start="time_{{time.hour}}_{{time.minute}}">
                            <span>{{time.hour}}:{{time.minute}}</span>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row table-responsible">
                {% for teacher_lessons in total_schedule %}
                    <div class="col-2">
                        <div>
                            <button type="button" class="btn btn-outline-info">{{teacher_lessons.teacher.full_name}}</button>
                        </div>
                        <div>
                            {% for lessons in teacher_lessons.lessons %}
                                <div class="time_{{lessons.time_start.hour}}_{{lessons.time_start.minute}}_{{lessons.duration_minute}} border">
                                    <span>{{ lessons.teacher }}</span><br>
                                    {% if lessons.condition_individual %}
                                        <span>{{ lessons.student.full_name }}</span>
                                    {% else %}
                                        <span>{{ lessons.group.name }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>