<div class="schedule">
    <div class="day time table-responsible">
        <div class="day_title">Time</div>
        {% for time in time_periods %}
            {% if time.minute == 0 %}
                <div class="hour half">{{time.hour}}:{{time.minute}}0</div>
            {% else %}
                <div class="hour half">{{time.hour}}:{{time.minute}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div style="overflow: hidden; width: 96%">
        {% for teacher_lessons in total_schedule %}
            <div class="day">
                <div class="day_title">{{teacher_lessons.teacher.full_name}}</div>
                {% for lessons in teacher_lessons.lessons %}
                    {% if lessons.is_empty %}
                        <div class="class b30">&nbsp;</div>
                    {% else %}
                        {% if lessons.duration_minute > 60 %}
                            <div class="class" data-tooltip="{{lessons.subject.name}} - {{lessons.get_lessons_type_name}}"
                                 style="background-color: {{ lessons.teacher.lessons_color }}"
                            >
                                {{lessons.classroom.name}}<br>
                                {{lessons.participation_name}}
                            </div>
                        {% else %}
                            <div class="class hour" data-tooltip="{{lessons.subject.name}} - {{lessons.get_lessons_type_name}}"
                                 style="background-color: {{ lessons.teacher.lessons_color }}"
                            >
                                {{lessons.classroom.name}}<br>
                                {{lessons.participation_name}}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>