:root {
    --duration_30_height: 45px;
    --position: absolute;
    --time_top: 48px;
}

.lessons_absolute {
    /* time_16_0_60: 16-time 0-min 60-duration*/
    top: calc(var(--time_top) * var(--position_top));
    position: var(--position);
    height: calc(var(--duration_30_height) * var(--position_height));
    width: 95%;
    align-content: center;
    background-color: rgba(227,239,184,0.7);
    opacity: 0.8;
}

.header {
    align-content: center;
    text-align: center;
    text-decoration-color: #343a40;
    height: 47px;
    width: 95%;
    border-bottom: 6px solid rgba(130,145,239,0.7);
    background-color: rgba(239,193,222,0.7);
}

.header_n {
    height: 47px;
    display: block;
    align-content: center;
    text-align: center;
}


.all_block {
    background-color: #fbf9ff;
    opacity: 0.8;
}

.col_custom {
    width: 95%;
}