@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
:root {
  --duration-min: var(--duration-min);
}
.schedule {
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
}

.schedule_content {
  width: 175vh;
  overflow-x: scroll;
}

/*.schedule_data {*/
/*  width: 250vh;*/
/*}*/

.schedule_modal {
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}

.teacher {
  width: 125px;
  height: 90vh;
  float: left;
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, transparent 50%);
  background-size: 1px 6.666%;
}

.teacher.time { width: 4%; }

.teacher_title {
  height: 10%;
  background-color: #34495e;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 4vh;
}

.hour {
  height: 6vh;
  background-color: rgba(52, 73, 94,0.9);
  font-size: 12px;
  text-align: center;
  /*line-height: 5vh;*/
}

.hour.half {
  height: 3vh;
}

.hour.now {
  background-color: #bcaede;
  color: #343a40;
}

.lessons {
  width: 100%;
  background-color: magenta;
  font-size: 1vw;
  font-weight: 200;
  padding-left: 5px;
}


@media screen and (max-width: 1440px){

  .schedule_content {
    width: 170vh;
  }

}

@media screen and (max-width: 1390px){

  .schedule_content {
    width: 150vh;
  }

}

@media screen and (max-width: 1281px){

  .schedule_content {
    width: 140vh;
  }

}

@media screen and (max-width: 1180px){

  .schedule_content {
    width: 125vh;
  }

}

@media screen and (max-width: 1024px) {
  .schedule_content {
    width: 115vh;
  }
}

@media screen and (max-width: 950px) {
  .schedule_content {
    width: 100vh;
  }
}

@media screen and (max-width: 830px) {
  .schedule_content {
    width: 90vh;
  }
}

@media screen and (max-width: 768px) {
  .schedule_content {
    width: 85vh;
  }
}

@media screen and (max-width: 710px) {
  .schedule_content {
    width: 70vh;
  }
}

@media screen and (max-width: 590px) {
  .schedule_content {
    width: 60vh;
  }
}

@media screen and (max-width: 590px) {
  .schedule_content {
    width: 50vh;
  }
}


@media screen and (max-width: 425px) {
  .teacher.time {
    width: 5vh;
  }

  .schedule_content {
    width: 42vh;
  }
}

@media screen and (max-width: 414px) {
  .teacher.time {
    width: 5vh;
  }

  .schedule_content {
    width: 37vh;
  }
}


@media screen and (max-width: 375px) {
  .teacher.time {
    width: 5vh;
  }

  .schedule_content {
    width: 35vh;
  }
}


@media screen and (max-width: 320px) {
  .teacher.time {
    width: 5vh;
  }

  .schedule_content {
    width: 30vh;
  }
}


.lessons.dauto { font-size: 15px; }
.lessons.d120 { height: 12vh; }
.lessons.d90 { height: 9vh; }
.lessons.d60 { height: 6vh; font-size: 15px; }
.lessons.b30 { height: 3vh; background-color:  transparent;}
.spacing { background-color: transparent; }
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: initial;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 10px;
  margin-left: -75px;
  padding: 7px 5px;
  width: 140px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -7px;
  margin-bottom: 3px;
  width: 0;
  border-top: 7px solid black;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
}