<div class="form-group">
    <div class="add_form name">
        <label for="id_name">Назва:</label>
        {{form.name}}
    </div>
    <div class="add_form room_type">
        <label for="id_room_type">Тип:</label>
        {{form.room_type}}
    </div>
    <div class="add_form places_count">
        <label for="id_places_count">Кількість місць:</label>
        {{form.places_count}}
    </div>
    <div>
        <label for="id_description">Коментар</label>
        {{form.description}}
    </div>
</div>