{% extends 'schedule/base/base_cms.html' %}
{% block title %}Розклад заходів{% endblock %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/events/base.css' %}">
{% endblock %}
{% block body %}
<br />
<div class="row">
    <div class="col">
        <h5>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#add">
                <span class="fas fa-plus"></span>
            </button>
            Додати захід
        </h5>
        <div id="add" class="collapse add">
            <form class="form" method="post">
                {% csrf_token %}
                {% include 'schedule/events/add_form.html' with form=form %}
                <button type="submit" class="btn btn-success">Додати</button>
            </form>
            <hr />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <h6>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#add_location">
                <span class="fas fa-plus"></span>
            </button>
            Додати локацію
        </h6>
        <div id="add_location" class="collapse add">
            <form class="form" method="post" action="{% url 'event_location' %}">
                {% csrf_token %}
                <div class="form-group add_form">
                    <label for="id_location_name">Локація</label>
                    {{location_form.location}}
                </div>
                <button type="submit" class="btn btn-success">Додати</button>
            </form>
            <hr />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        {% include 'schedule/events/filter_form.html' with form=filter_form %}
    </div>
</div>
<br />
<div class="row">
    <div class="col table-responsive">
        <div class="events_table">
            <table class="table table-sm table-hover table-responsible">
                <thead>
                    <th>Назва</th>
                    <th>Локація</th>
                    <th>К-сть учасників</th>
                    <th>Дата</th>
                    <th>Час початку</th>
                    <th>Час кінця</th>
                    <th>#</th>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>
                                <a  type="button"
                                    class="btn btn-warning"
                                    href="{% url 'event_actions' event.id 'edit'%}"
                                >
                                    <span class="fas fa-edit"></span>
                                </a>
                                {{ event.name }}
                            </td>
                            <td>{{ event.location }}</td>
                            <td>{{ event.participants_count }}</td>
                            <td>{{ event.date_of_event|date:'d.m.Y' }}</td>
                            <td>{{ event.time_start|time:'H:i' }}</td>
                            <td>{{ event.time_end|time:'H:i' }}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-toggle="modal"
                                        data-target="#delete_event_{{event.id}}"
                                >
                                    <span class="fas fa-archive"></span>
                                </button>
                            </td>
                        </tr>
                        <div class="modal" id="delete_event_{{event.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Видалити захід</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Ви впевнені що хочете видалити захід "{{event.name}}"?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{% url 'event_actions' event.id 'delete' %}">
                                            {% csrf_token %}
                                            <input hidden name="event" value="{{event.id}}">
                                            <input hidden name="method" value="delete">
                                            <button type="submit" class="btn btn-danger">Видалити</button>
                                        </form>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}