<form class="form-inline">
    <div class="filter_form location">
        <label for="id_location">Локація</label>
        {{ form.location }}
    </div>
    <div class="filter_form student">
        <label for="id_students">Учасники</label>
        {{ form.student }}
    </div>
    <div class="filter_form date_from">
        <label for="id_date_from">Дата з</label>
        {{ form.date_from }}
    </div>
    <div class="filter_form date_until">
        <label for="id_date_until">Дата по</label>
        {{ form.date_until }}
    </div>
    <div class="filter_form">
        <input type="submit" class="btn btn-secondary button_submit" value="Показати">
    </div>
</form>