{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/student/view.css' %}">
{% endblock %}
{% block body %}
    <div class="row text-center" style="background-color: lightgrey">
        <div class="col">
            <h3>
                {{ student.full_name }}
            </h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div>
                {{ student.phone_number }}
            </div>
            <div>
                {{ student.status_name }}
            </div>
            <div>
                {{ student.date_of_test_lessons|date:"d.m.Y" }} {{ student.date_of_test_lessons|time:"H:i" }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                {{ student.date_start_studying|date:"d.m.Y" }}
            </div>
            <div class="row">
                {{ student.date_end_studying|date:"d.m.Y" }}
            </div>
            <div class="row">
                {{ student.parent_last_name }}&nbsp;
                {{ student.parent_first_name }}&nbsp;
                {{ student.parent_phone }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <form method="POST" action="{% url 'students_actions' student.id 'change_status' %}">
                        {% csrf_token %}
                        <label for="id_status">Статус: {{ student.status_name }}</label>
                        {{ change_status_form.status }}
                        <button type="submit" class="btn btn-outline-primary form-control">Змінити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item active">
                    {% if view == 'lessons' %}
                        <a class="nav-lin-link active btn btn-info" role="button"
                           type="button"
                           href="{% url 'students_actions' student.id 'lessons' %}"
                        >
                            Заняття
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'students_actions' student.id 'lessons' %}">Заняття</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if view == 'invoices' %}
                        <a class="nav-lin-link active btn btn-info" role="button"
                           href="{% url 'students_actions' student.id 'invoices' %}"
                        >
                            Рахунки
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'students_actions' student.id 'invoices' %}">Рахунки</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if view == 'groups' %}
                        <a class="nav-lin-link active btn btn-info" role="button"
                           href="{% url 'students_actions' student.id 'groups' %}"
                        >
                            Групи
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'students_actions' student.id 'groups' %}">Групи</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
        {% if view == 'lessons' %}
            {% include 'schedule/students/views/_lessons.html' with lessons=lessons %}
        {% elif view == 'groups' %}
            {% include 'schedule/students/views/_groups.html' with groups=groups %}
        {% elif view == 'invoices' %}
            {% include 'schedule/students/views/_invoices.html' with invoices=invoices %}
        {% endif %}
{% endblock %}