<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="">DayOK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mainNavCss">
          <a class="nav-link" href="{% url 'home' %}">
            <span class="far fa-star"></span>
            Головна
          </a>
        </li>
        <li class="nav-item aboutNavCss">
          <a class="nav-link" href="{% url 'about' %}">
            <span class="fas fa-info"></span>
            Про проект
          </a>
        </li>
        <li class="nav-item contactsNavCss">
          <a class="nav-link" href="{% url 'contacts' %}">
            <span class="fas fa-address-book"></span>
            Контакти
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <span class="fas fa-cog"></span>
            Адмін панель
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav my-2 my-lg-0">
        <li class="nav-item logOutNavCss">
          <a class="nav-link" href="{% url 'logout' %}">
            <span class="fas  fa-sign-out-alt"></span>
            Вихід
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>