<div class="form-group">
    <div class="add_form name">
        <label for="id_name">Назва:</label>
        {{form.name}}
    </div>
    <div class="add_form type_of">
        <label for="id_type_of">Тип:</label>
        {{form.type_of}}
    </div>
    <div class="add_form lessons_count">
        <label for="id_lessons_count">Кількість занять:</label>
        {{form.lessons_count}}
    </div>
    <div class="add_form subjects">
        <label for="id_subjects">Предмети:</label>
        {{form.subjects}}
    </div>
    <div class="add_form price">
        <label for="id_price">Ціна</label>
        {{form.price}}
    </div>
</div>