{% extends 'schedule/base/base_cms.html' %}
{% block title %}Послуги{% endblock %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/services/base.css' %}">
{% endblock %}
{% block body %}
<br >
{% if errors %}
<div class="row">
    <div class="col">
        {{errors}}
    </div>
</div>
<hr />
{% endif %}
<div class="row">
    <div class="col">
        <h5>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#add_service">
                <span class="fas fa-plus"></span>
            </button>
            Додати послугу
        </h5>
        <div id="add_service" class="collapse add_service">
            <form class="form" method="post">
                {% csrf_token %}
                {% include 'schedule/services/add_form.html' with form=form %}
                <button type="submit" class="btn btn-success">Додати</button>
            </form>
            <hr />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col table-responsive">
        <div class="services_table">
            <h4>Перелік усіх послуг</h4>
            <table class="table table-sm table-hover table-responsible">
                <thead>
                    <th>Назва</th>
                    <th>К-сть занять</th>
                    <th>Предмети</th>
                    <th>Тип</th>
                    <th>Ціна</th>
                    <th>К-сть рахунків</th>
                    <th>#</th>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>
                                <a  type="button"
                                    class="btn btn-warning"
                                    href="{% url 'services_actions' service.id 'edit'%}"
                                >
                                    <span class="fas fa-edit"></span>
                                </a>
                                {{ service.name }}
                            </td>
                            <td>{{ service.lessons_count }}</td>
                            <td>
                                {% for subject in service.subjects_list %}
                                    <button class="btn btn-info">{{subject.name}}</button>
                                {% endfor %}
                            </td>
                            <td>{{ service.type_of_title }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.total_invoices_count }}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-outline-danger"
                                        data-toggle="modal"
                                        data-target="#delete_service_{{service.id}}"
                                >
                                    <span class="fas fa-archive"></span>
                                </button>
                            </td>
                        </tr>
                        <div class="modal" id="delete_service_{{service.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Видалити послугу</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Ви впевнені що хочете видалити послугу "{{service.name}}"?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{% url 'services_actions' service.id 'delete' %}">
                                            {% csrf_token %}
                                            <input hidden name="service" value="{{service.id}}">
                                            <input hidden name="method" value="delete">
                                            <button type="submit" class="btn btn-danger" disabled>Видалити</button>
                                        </form>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}