<div class="col-2">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addInvoice">
        Додати рахунок
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="addInvoice">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="POST" class="form" action="{% url 'invoices_add' %}">
                    {% csrf_token %}
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Виставлення рахунку</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    {{ form.student }}
                                </div><br >
                                <div class="row">
                                    {{ form.service }}
                                </div>
                                <small>Тип послуги: <span id="id_service_type"></span></small><br>
                                <small>К-сть занять: <span id="id_service_lessons_count"></span></small><br>
                                <small>Вартість: <span id="id_service_price"></span>грн</small>
                                <br >
                                <div class="row">
                                    {{ form.subject }}
                                </div><br >
                                <div class="row">
                                    {{ form.status }}
                                </div><br >
                                <div class="row" id="invoice_payment_type" hidden>
                                    {{ form.payment_type }}
                                    <small class="small">По замовчуванню: готівка</small>
                                </div><br>
                            </div>
                            <div class="col-4 offset-2">
                                <div class="row">
                                    {{ form.date_paid_until }}
                                </div><br >
                                <div class="row">
                                    <label for="id_date_valid_from">Дійсний з</label>
                                    {{ form.date_valid_from }}
                                </div><br >
                                <div class="row">
                                    <label for="date_valid_until">Дійсний по</label>
                                    {{ form.date_valid_until }}
                                </div><br >
                            </div>
                        </div>
                        <div class="row" id="addPayment" hidden>
                            <div class="col-8 offset-2" style="border: 2px groove #34495e; border-radius: 5px;">
                                <small>Ви можете додати оплату але це не обов`язково</small>
                                <div class="row" style="text-align: center; padding-top: 10px;">
                                    <div class="col">
                                        <p>Оплата:</p>
                                    </div>
                                    <div class="col" style="padding-right: 40px;">
                                        <div class="row">
                                            {{ form.payment_type }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            {{ form.amount }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Створити</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Закрити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function shouldOpenPaymentType(elem) {
        document.getElementById('invoice_payment_type').hidden = (parseInt(elem.value) !== 1);
        document.getElementById('addPayment').hidden = (parseInt(elem.value) !== 2);
    }

    function getSubjects(elem) {
        $.ajax({
            type: "GET",
            url: "{% url 'get_service_subjects' %}?service=" + elem.value.toString(),
            success: function (response) {
                let subjects = document.getElementById('id_subject');
                subjects.hidden = false;
                subjects.options.length = 0;
                for (rec = response['result'].length; rec>=0,rec--;) {
                    let option = document.createElement('option');
                    option.text = response['result'][rec][1];
                    option.value = response['result'][rec][0];
                    subjects.add(option);
                }
                setServiceDescription(response['service']);
            },
            error: function (response) {
                alert(response["status"]);
            }
        })
    }

    function setServiceDescription(service_data) {
        document.getElementById('id_service_type').innerText = service_data['type_of_title'];
        document.getElementById('id_service_price').innerText = service_data['price'];
        document.getElementById('id_service_lessons_count').innerText = service_data['lessons_count'];
    }

</script>
