{% extends 'schedule/base/base_cms.html' %}
{% block head %}
    {% load static %}
    {% include 'date_select_picker.html' %}
{% endblock %}
{% block body %}
<!-- Modal -->
<div class="modal fade" id="addPayment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include 'schedule/invoices/add_payment_form.html' with invoice=invoice payment_form=payment_form %}
        </div>
    </div>
</div>
<!-- end modal -->
    <div class="row text-center" style="background-color: lightgrey">
        <div class="col">
            <h3>
                {{ invoice.number }}
            </h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div>
                Прізвище Ім`я: <strong>{{ invoice.student.full_name }}</strong>
            </div>
            <div>
                Включена послуга: {{ invoice.service.name }} / {{ invoice.service.price }}грн / {{ invoice.service.subject }}
            </div>
            <div>
                Тип послуги: {{ invoice.service.type_of_title }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                Дата оплати:&nbsp;<strong>{{ invoice.date_paid_until|date:"d.m.Y" }}</strong>
            </div>
            <div class="row">
                Дійсний з: {{ invoice.date_valid_from|date:"d.m.Y" }}
            </div>
            <div class="row">
                Дійсний по: {{ invoice.date_valid_until|date:"d.m.Y" }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <form method="POST" action="{% url 'invoices_change_status' invoice.id %}">
                        {% csrf_token %}
                        <label for="id_status">Статус: {{ invoice.status_title }}</label>
                        {% if not invoice.is_paid %}
                            {{ change_status_form.status }}
                            <button type="submit" class="btn btn-outline-primary form-control">Змінити</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <form method="POST" action="{% url 'invoices_actions' 'delete' invoice.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger form-control">Видалити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>Оплати</h5>
        </div>
        {% if invoice.is_pending %}
            <div class="col-4">
                <h5>
                    <button class="btn btn-info"
                            data-toggle="modal" data-target="#addPayment"
                    >
                        Додати
                    </button>
                </h5>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <th>Тип оплати</th>
                    <th>Сума</th>
                    <th>Дата час</th>
                    <th>Опції</th>
                </thead>
                <tbody>
                    {% for payment in invoice.payments %}
                    <tr>
                        <td>{{ payment.payment_type_title }}</td>
                        <td>{{ payment.amount }}грн.</td>
                        <td>{{ payment.date_created|date:"d.m.Y" }} {{ payment.date_created|time:"H:i" }}</td>
                        <td>
                            <form method="post" action="{% url 'invoices_actions' 'delete_payment' invoice.id %}">
                                {% csrf_token %}
                                <input name="payment_id" value="{{payment.id}}" hidden>
                                <button type="submit"
                                       class="btn"
                                       title="Видалити"
                                    >
                                    <span class="fa fa-minus-square"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
        <h5>Історія змін</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-8 table-responsive" style="max-height: 450px">
            <table class="table table-sm table-hover">
                <thead>
                    <th>Дата час</th>
                    <th>Користувач</th>
                    <th>Статус до</th>
                    <th>Статус після</th>
                    <th>Коментар</th>
                </thead>
                <tbody>
                    {% for record in history_records %}
                    <tr>
                        <td>{{ record.datetime_created|date:"d.m.Y" }} {{ record.datetime_created|time:"H:i" }}</td>
                        <td>{{ record.user.username }}</td>
                        <td>{{ record.previous_status_title }}</td>
                        <td>{{ record.new_status_title }}</td>
                        <td>{{ record.comment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}